<style>     
    @media screen and (max-width: 775px){
   	    #hea {
              height:auto; 
              margin-top:-65px; 
              width:90%; 
              background-color:deepskyblue; 
              font-size:20px; 
              padding-left:4%; 
              border-radius:10px;
              position:fixed;
              margin-left: 10%;
              z-index: 1;
	    	}
	    #va {
	          width:100%; 
	      	  margin-top:12%;
	      	  padding: 20px;
	        }
	    .ara{
    		  margin-left:-15%;
    		  padding:0px;
  		    }
   	   .arab{
   		 	  margin-left:15%;
   			}

       .rad1ar {
        	  width: 25%;
     	      margin-top: 5%;
        	  margin-left: 5%;
    		}
    	.rad2ar {
        	  width: 20%;
  	          margin-top: 5%;
        	  margin-left: 5%;
    		}
    	.rad1en {
     	      width: 18%;
     	      margin-top: 5%;
     	      margin-left: 8%;
        	}
    	.rad2en {
        	  width: 10%;
    	      margin-top: 5%;
        	  margin-left: 14%;
    	    }
   		#sec {
      		  width:25%; 
              margin-left: 0%;
    		}
	    .boar{
 			margin-left:3%; 
 			border-bottom:1px solid deepskyblue;
	    }
	    .boen {
 			margin-left:12%; 
 			border-bottom:1px solid deepskyblue;
	    }
	    .firen {
    		width:35%;
        }
        .secen {
   		    width:25%; 
      		margin-left: 1%;
        }
    	.thien {
        	width:25%; 
        	margin-left: 3%;

        }
        .firar {
    		width:35%;
    		margin-left: 7%;
        }
        .secar {
   		    width:25%; 
      		margin-left: 5%;
        }
    	.thiar {
        	width:25%; 
        	margin-left: 0%;

        }
        #sli {
          width:100%;
        }
        .intrar {
          visibility:visible;
          padding:1%; 
          overflow:hidden;
          border:5px solid deepskyblue;
          text-align:center;
          width:70%;
          border-radius:10px;
          margin-right:10.5%;
          margin-top:5%;
          z-index:0; 
          position:absolute;
        }
        .intren {
          visibility:visible;
          padding:1%; 
          overflow:hidden;
          border:5px solid deepskyblue;
          text-align:center;
          width:70%;
          margin-left:10.5%;
          border-radius:10px;
          margin-top:5%;
          z-index:0; 
          position:absolute;
        }
        .va {
        width:100%; 
        margin-top:15%;
      }
      .ve {
        width:100%; 
        margin-top:15%;
        margin-right: 15%;
      }
    }
	@media screen and (min-width: 775px){
	    #hea {
              height:auto; 
              margin-top:-80px; 
              width:90%; 
              background-color:deepskyblue; 
              font-size:20px; 
              padding:2%; 
              border-radius:10px; 
              position:fixed;
              z-index: 1;
	    	}
	    #hea div {
	    		margin-top:2%;
	    	}
	    .va {
	    	width:100%; 
	    	margin-top:5%;
        margin-right: 15%;
	    }
      .ve {
        width:100%; 
        margin-top:10%;
        margin-right: 15%;
      }
	    .boar{
 			margin-left:3%; 
 			border-bottom:1px solid deepskyblue;
	    }
	    .boen {
 			margin-left:3%; 
 			border-bottom:1px solid deepskyblue;
	    }
	    .ara {
    		margin-left:-20%;
    		width:100%;
    	}
        .arab {
    		margin-left:15%;
    	}

  	    .rad1ar {
     	   width: 18%;
     	   margin-top: 5%;
        }
    	  .rad2ar {
        	width: 20%;
    	    margin-top: 5%;
        	margin-left: 15%;
    	  }
      	.rad1en {
     	   width: 15%;
     	   margin-top: 5%;
         margin-left: 3%;
        }
      	.rad2en {
        	width: 20%;
    	    margin-top: 5%;
        	margin-left: 12%;
    	  }
        .firar {
    		width:35%;
    		margin-left: 17%;
        }
        .secar {
   		    width:25%; 
      		margin-left: -7%;
        }
    	 .thiar {
        	width:25%; 
        	margin-left: 0%;

        }
        .firen {
    		width:35%;
    		margin-left: 5%;
        }
        .secen {
   		    width:25%; 
      		margin-left: 4%;
        }
    	 .thien {
        	width:25%; 
        	margin-left: 3%;

        }
        #sli {
          width:70%;
        }
        .intrar {
          visibility:visible;
          padding:1%; 
          overflow:hidden;
          border:5px solid deepskyblue;
          text-align:center;
          width:70%;
          border-radius:10px;
          margin-right:10.5%;
          margin-top:5%;
          z-index:0; 
          position:absolute;
        }
        .intren {
          visibility:visible;
          padding:1%; 
          overflow:hidden;
          border:5px solid deepskyblue;
          text-align:center;
          width:70%;
          margin-left:10.5%;
          border-radius:10px;
          margin-top:5%;
          z-index:0; 
          position:absolute;
        }
    }
    
    #fin {
    	font-size:20px; 
    	width:50%;
    }
</style>
<div class="load" ng-show="loading" ><img src="images/loading.gif" class="center-block"></div>
<div id="int" ng-class="(lang=='ar')?'intrar':'intren'">
  <button class="btn btn-info btn-lg pull-right" onclick="rem();"><span class="glyphicon glyphicon-remove" ></span></button>
    <div id="tex" style="padding: 3%;">
  <h3>{{pageStatics.intro[lang]}}
  <ul style="list-style-type:none;">
  <li>{{pageStatics.fli[lang]}}</li>
  <li>{{pageStatics.sli[lang]}}</li>
  <li>{{pageStatics.tli[lang]}}</li>
  <li>{{pageStatics.foli[lang]}}</li>
  <li>{{pageStatics.fili[lang]}}</li>
  <li>{{pageStatics.sili[lang]}}</li>
  <li>{{pageStatics.seli[lang]}}</li>
  <li>{{pageStatics.eli[lang]}}</li>
  <br>
  <li><b>{{pageStatics.endi[lang]}}<b></li>
  </ul>
  </h3>
  </div>
</div>
<div id="con" style="visibility: hidden;position: absolute;">
<div id="hea">
        <div ng-class="(lang=='ar')?'firar':'firen'" class="pull-left"><b>{{pageStatics.skillLevel[lang]}}</b></div>
        <div ng-class="(lang=='ar')?'secar':'secen'" class="pull-left"><b>{{pageStatics.toExcellence[lang]}}</b></div>
        <div ng-class="(lang=='ar')?'thiar':'thien'" class="pull-left"><b>{{pageStatics.toImprove[lang]}}</b></div>
</div>
<div ng-class="(lang=='ar')?'va':'ve'">
<div ng-class="{ara : lang == 'ar'}">
    <div ng-repeat="d in data"  ng-class="(lang=='ar')?'boar':'boen'"> 
    <div id="fin" class="pull-left">
    <p><b>{{$index+1}}<b style="color:deepskyblue;">  | </b></b><b>	{{d.question}}</b></p>
    
    <input type="range" id='sli'  ng-model="scores[$index]" min="1" max="5" >
    <b>{{scores[$index]}}</b>
    </div>
    <div ng-class="{arab : lang == 'ar'}">
    <div ng-class="(lang=='ar')?'rad1ar':'rad1en'" ="rad1" class="pull-left">
    <input type="checkbox"  ng-model="excellence[$index]" ng-disabled="countTrue(excellence) >= 15 && !excellence[$index]"> 
    </div>

    <div ng-class="(lang=='ar')?'rad2ar':'rad2en'" class="pull-left">
    <input type="checkbox"  ng-model="improve[$index]" ng-disabled="countTrue(improve) >= 5 && !improve[$index]" > 
    </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    </div>
    </div>
</div>
<input type="button" class="btn btn-primary fa" value="&#xf00c; {{siteStatic[lang].submit}}" ng-click="calculateResults()" ng-disabled="countTrue(improve) < 5 || countTrue(excellence) < 15">
</div>